version: "3.8"

services:

  mongo:
    image: mongo:6
    container_name: mongo-prod
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_prod_data:/data/db
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-api-prod
    ports:
      - "3000:3000"
    env_file:
      - .env.prod
    depends_on:
      - mongo
    restart: unless-stopped

volumes:
  mongo_prod_data: